body{
    font-family: 'Oswald','Poppins', sans-serif;
    font-size: 18px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald', sans-serif;
}
.box-shadow{
    box-shadow: 5px 5px 10px gray;;
}
#transectionArea{
    display: none;
}
.deposite{
    background: #5F4FC8;
}
.withdraw{
    background: #F19671;
}
.balance{
    background: #F09B02;
}